pip install opencv-python==4.6.0.66
pip install matplotlib==3.6.2
pip install googletrans==4.0.0-rc1 #->> 해당 버전이 아니면 오류 발생 (꼭 버전을 붙혀서 )
pip install selenium==4.6.0
pip install webdriver_manager==3.8.5

pip install Django== 4.1.7

django
pillow
bs4
requests
lxml
django-extensions 
#  pip install -r requirements.txt
# git push -u oring master
#git config --global core.autocrlf ture

# git config --system --unset core.autocrlf
# git config --global core.autocrlf false
# pip install -r requirements.txt

#####################   git    ##################### 
# git init
# git remote add origin https://github.com/rhkd4129/Graduate_work_1-GUI.git
# git remote -v
# git pull origin master(branch)


# 원격 저장소의 파일을 불러와 로컬과 똑같이
# git pull origin master = git pull [원격 저장소의 이름] [원격 저장소에서 받아오고자 하는 브랜치의 이름]


#git push --set-upstream origin master




 