option_settings:
    aws:elasticbeanstalk:applicaiton:environment:
        'DJANGO_SECRET_KEY:"django-insecure-xv=+v)5fy6ljywfr*da(q!33p0i9eu^qsqtnuc2ucg7=2)k+o$"
        'DATABASE_NAME = "django"
        'DATABASE_USER= "admin"
        'DATABASE_PASSWORD"="12345678"
        
        "AWS_ACCESS_KEY_ID" = 'AKIA3S4HJGLOEFYJD6AW'
        "AWS_SECRET_ACCESS_KEY"='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'
    aws:elasticbeanstalk:container:python:
        WSGIPath:graduation_work_site/wsgi.py

contaiiner_commands:
    01_collectstatic:
        command:'sourc        && python manage.py collectstatic"
    02_migrate:
        command:'&&python .\manage.py migrate'