{% extends 'coloring/layout.html' %}
{% block content %}
    <div class="container my-3">
        <div class="row mb-5" >
            <div class="col-sm-3">
                {{page_user.username}}
            </div>
        </div>

        <div class="container text-center">
            
            {% for advice in adivce_list %}
            <div class="row">
              <div class="col"><p>{{advice.name}}</p>
              </div>

              <div class="col"><p>{{advice.keywords}}</p>
              </div>
            
              <div class="col"><p>{{advice.age}}</p>
                </div>

              <div class="col"><a href="{% url 'coloring:user_page_trans_image' username=user.username  %}"  >변환된이미지</a>
              </div>
            </div>

          </div>
          <hr style="border: solid 2px white;">
          {% endfor %}
               
       
    </div>

    

    

    
    {#<a href="{% url 'accounts/profile_edit' %}">Edit</a>#}

{% endblock content %}


