{% extends 'coloring/layout.html' %}


{% block content %}     
{% load static  %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <main>
      <img src="{% static 'logo.PNG' %}"  width="400" height="400"alt="">
      <p class="lead pt-1">
      <button class ="btn btn-primary my-1" id="search">검색하기</button>
         <button class ="btn btn-primary my-1" id="upload">직접 업로드하기</button>
       
       <form id = 'searchForm'style="display: none;" class ='my-2'action="" method="post" enctype="multipart/form-data" >
            {% csrf_token %}        
            {{searchForm.as_p}}       
             <button name = 'btn' value = '1' id  = 'search-btn'class = 'btn btn-primary' type="submit">검색하기</button>
        </form>
 

      
     <form  class ='my-2'  id = 'uploadForm' style="display: none;" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
    
        {{ uploadForm_1.as_p }}   
        {{ uploadForm_2.as_p }} 
        <button class = 'btn btn-primary'  name = 'btn' value = '2'  type="submit">업로드하기 </button>
      </form> 

        {% for message in messages %}
            <div class="palert alert-{{message.tags}}">
                {{message.message}}
            </div>
        {% endfor %}
            
    

        <div id="loading-spinner" style="display: none;"> 
         
          <i class="fa fa-spinner fa-spin"></i>Loading....
        </div>
    </main>
    

<script>
    $(function(){
      $('#search-btn').click(function() {  
        $('#loading-spinner').show(); });

      $('#search').click(function(){
        $('#searchForm').show();
        $('#uploadForm').hide(); 
      });

      $('#upload').click(function(){
        $('#searchForm').hide();
        $('#uploadForm').show(); 
      });
    });

  </script>
{% endblock content %}


<!-- <script>
  $(function(){
    $('#upload_button').click(function(){


    });
  });


</script>
 -->


<!-- <script>
  $(function() {
    // 버튼 클릭 이벤트
    $('#search-btn').click(function() {
      // 로딩 스피너 표시
      $('#loading-spinner').show();
      
      // Ajax 요청
      $.ajax({
        type: 'POST',
        url: '{% url "coloring:crawing" %}',
        data: $('form').serialize(),
        success: function(data) {
          // 검색 결과를 search.html 페이지에 출력
          $('#search-results').html(data);
          
          // 로딩 스피너 숨김
          $('#loading-spinner').hide();
        },
        error: function() {
          // 로딩 스피너 숨김
          $('#loading-spinner').hide();
        }
      });
    });
  });
</script> -->