{% extends 'coloring/layout.html' %}
{% block content %}

    <div class="container my-3" >
        <h2 class="mb-5">User Information</h2>

        <table class="table table-striped text-white">
            <thead >
                <tr>
                <th>이름</th>
                <th>나이</th>
                <th>Keywords</th>
                <th>변환된 이미지</th>
                </tr>
            </thead>

            <tbody>
                {% for advice in adivce_list %}
                    <tr>
                        <td class="text-white" >{{ advice.name }}</td>
                        <td class="text-white" >{{ advice.age }}</td>
                        <td class="text-white" >{{ advice.keywords }}</td>
                        <td class="text-white" ><a href="{% url 'coloring:user_page_trans_image' username=user.username keywords=advice.keywords name=advice.name %}">이미지</a></td>              
                    </tr>
                    {% empty %}
                    <tr>
                        <td  class="text-white"  colspan="4">No users found.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    
    {#<a href="{% url 'accounts/profile_edit' %}">Edit</a>#}

{% endblock content %}


