option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SECRET_KEY: "###"
    DATABASE_NAME: "###"
    DATABASE_USER: "###"
    DATABASE_PASSWORD: "###"
    AWS_SECRET_ACCESS_KEY: "###"
    AWS_ACCESS_KEY_ID: "###"
  aws:elasticbeanstalk:container:python:
    WSGIPath: graduation_work_site/wsgi.py

container_commands:
  01_activate_conda:
    command: "source /opt/elasticbeanstalk/bin/get-environment-variable.py -n CONDA_ENV_NAME | xargs -i /opt/elasticbeanstalk/bin/get-environment-variable.py -n {} | xargs -i echo 'source activate {}' > /tmp/activate_conda.sh && chmod +x /tmp/activate_conda.sh"
  02_install_requirements:
    command: "source /tmp/activate_conda.sh && pip install -r requirements.txt"
  03_collectstatic:
    command: "source /tmp/activate_conda.sh && python manage.py collectstatic --noinput"
  04_migrate:
    command: "source /tmp/activate_conda.sh && python manage.py migrate --noinput"



### CONDA_ENV_NAME = conda가상환경이름으로 대채 