{% extends 'layout.html' %}
{% block content %}
{% load static  %}

  <main class="px-3">
    <img src="{% static 'logo.jpg' %}"  width="350" height="350"alt="">

    <p class="lead pt-2">
      {% if user.is_authenticated %} 
               <a href="{% url 'coloring:crawing' %}"  style="font-size: 30px;"class="btn btn-lg btn-light fw-bold border-white bg-white">시작하기</a>        

              {% else %}
              <a href="{% url 'accounts:login' %}" style="font-size: 30px;" class="btn btn-lg btn-light fw-bold border-white bg-white">시작하기</a>
            </p>
              {% endif %}
  </main>

  <footer class="my-auto">
    {#{% include "footer.html"  %}#}
      </footer>
    {% endblock content %}
    
  